h1 {
    text-align: center;
}

.movie-feed{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
}